{{> header_new}}
{{> top_bar_new}}
{{> menu_new}} 
<div class="page-wrapper-row full-height img">
    {{!-- <div class="page-wrapper-middle">
        <div class="page-container">
            <div class="page-content-wrapper">
                <div class="page-content">
                    <div class="container-fluid">
                        <div class="page-content-inner"> --}}
                           
                            <div class="row img">
                                <div class="col-md-12" > 
                                    {{!-- <img src="public/img/backmil.jpg" alt="" style="width: 100%;"></div> --}}
                                {{!-- <div class="col-md-6">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h4 class="head">Total Worksheet</h4>
                                        </div>
                                        <div class="panel-body">
                                                <div class="pie" id="totalsauda">

                                                </div>
                                        </div>
                                    </div>
                                </div> --}}
                                </div>
                            </div>
                            {{!-- <div class="row">
                                <div class="col-md-6">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h4 class="head">Total Worksheet</h4>
                                        </div>
                                        <div class="panel-body">
                                            <div class="bar" id="bars">

                                            </div>
                                        </div>
                                    </div>    
                                </div>
                            </div> --}}
                        {{!-- </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> --}}
</div>
<style>
		.img {
			margin: 0;
			padding: 0;
			height: 91%;
			background-image: url("public/img/backmil.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
		}
</style>
{{> footer_new}}
{{> scripts_new}}