                        <div class="page-header-menu">
                            <div class="container-fluid">
                                <form class="search-form" action="page_general_search.html" method="GET">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search" name="query" id="searchmenu" list="query" autocomplete="off">
                                        <span class="input-group-btn">
                                            <a href="javascript:;" class="btn submit">
                                                <i class="icon-magnifier"></i>
                                            </a>
                                        </span>
                                        <datalist id="query">
                                            <option value="List Party" data-address="/party/party_list">
                                            <option value="Add Party" data-address="/party/party_add">
                                            <option value="List Contract sauda" data-address="/contract_sauda/contract_sauda_list">
                                            <option value="Add contract sauda" data-address="/contract_sauda/contract_sauda">
                                            <option value="list Delivery" data-address="/delivery_entry/delivery_entry_list">
                                            <option value="Add Delivery" data-address="/delivery_entry/delivery_entry">
                                            <option value="Payment Entry" data-address="/payment_entry/payment_entry">
                                        </datalist>
                                    </div>
                                </form>
                                <div class="hor-menu hor-menu-light">
                                    <ul class="nav navbar-nav">
                                        <li aria-haspopup="true" class="menu-dropdown mega-menu-dropdown  ">
                                            <a href="javascript:;"> Master List
                                                <span class="arrow"></span>
                                            </a>
                                            <ul class="dropdown-menu" style="min-width: 710px">
                                                <li>
                                                    <div class="mega-menu-content">
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <ul class="mega-menu-submenu">
                                                                    <li>
                                                                        <a href="/party/party_list"> Party Master  <span class="pull-right">p m</span></a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/expense/expense"> Expense Master </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/add_city/add_city"> City Master </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/bank/bank"> Bank Master </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/transport/transport"> Transport Master </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <ul class="mega-menu-submenu">
                                                                    <li>
                                                                        <a href="/product_mast/product_mast"> Product Master </a>
                                                                    </li>


                                                                    <li>
                                                                        <a href="/state_master/state_master"> State Master </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/proprietor/proprietor"> Proprietor Master </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/brand/brand"> Brand Master </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/term/term">Term Master</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <ul class="mega-menu-submenu">
                                                                    <li>
                                                                        <a href="/product/product"> Product Group </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/add_district/add_district"> District Master </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/group/group"> Group Master </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/courier/courier"> Courier Master </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/narration/narration"> Narration Master </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                        <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown">
                                            <a href="javascript:;"> Transactions
                                                <span class="arrow"></span>
                                            </a>
                                            <ul class="dropdown-menu pull-left">
                                                <li aria-haspopup="true" class="">
                                                    <a href="/contract_sauda/contract_sauda_list" class="nav-link nav-toggle ">
                                                        Contract Sauda
                                                        <span class="arrow"></span>
                                                    </a>
                                                </li>
                                                <li aria-haspopup="true" class="">
                                                    <a href="/delivery_entry/delivery_entry_list" class="nav-link nav-toggle ">
                                                        Delivery Entry
                                                        <span class="arrow"></span>
                                                    </a>
                                                </li>
                                                <li aria-haspopup="true" class="">
                                                    <a href="/direct_delivery_entry/direct_delivery_entry_list" class="nav-link nav-toggle ">
                                                        Direct Delivery
                                                        <span class="arrow"></span>
                                                    </a>
                                                </li>
                                                <li aria-haspopup="true" class="">
                                                    <a href="/payment_entry/payment_entry_list" class="nav-link nav-toggle ">
                                                        Payment Entry
                                                        <span class="arrow"></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown">
                                            <a href="javascript:;"> Utilities
                                                <span class="arrow"></span>
                                            </a>
                                            <ul class="dropdown-menu pull-left">
                                                <li aria-haspopup="true" class="">
                                                    <a href="/courier_inword/courier_inword" class="nav-link nav-toggle ">
                                                        Courier Inward
                                                        <span class="arrow"></span>
                                                    </a>
                                                </li>
                                                <li aria-haspopup="true" class="">
                                                    <a href="/courier_outword/courier_outword" class="nav-link nav-toggle ">
                                                        Courier Outward
                                                        <span class="arrow"></span>
                                                    </a>
                                                </li>
                                                <li aria-haspopup="true" class="">
                                                    <a href="/daily_rates/daily_rates" class="nav-link nav-toggle ">
                                                        Daily Rates
                                                        <span class="arrow"></span>
                                                    </a>
                                                </li>
                                                 <li aria-haspopup="true" class="">
                                                    <a href="/daily_rates/app_enquirylist" class="nav-link nav-toggle ">
                                                         Enquiry List
                                                        <span class="arrow"></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown">
                                            <a href="javascript:;"> Billing
                                                <span class="arrow"></span>
                                            </a>
                                            <ul class="dropdown-menu pull-left">
                                                <li aria-haspopup="true" class="">
                                                    <a href="/bill_generation/bill_generation" class="nav-link nav-toggle ">
                                                        Bill Generation
                                                        <span class="arrow"></span>
                                                    </a>
                                                </li>
                                                <li aria-haspopup="true" class="">
                                                    <a href="javascript:;" class="nav-link nav-toggle ">
                                                        Bill View
                                                        <span class="arrow"></span>
                                                    </a>
                                                </li>
                                                <li aria-haspopup="true" class="">
                                                    <a href="javascript:;" class="nav-link nav-toggle ">
                                                        Bill Print
                                                        <span class="arrow"></span>
                                                    </a>
                                                </li>
                                                <li aria-haspopup="true" class="">
                                                    <a href="javascript:;" class="nav-link nav-toggle ">
                                                        Bill Register
                                                        <span class="arrow"></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown">
                                            <a href="javascript:;"> Screening
                                                <span class="arrow"></span>
                                            </a>
                                            <ul class="dropdown-menu pull-left">
                                                <li aria-haspopup="true" class="">
                                                    <a href="/sauda_register/sauda_register" class="nav-link nav-toggle ">
                                                        Sauda Register
                                                        <span class="arrow"></span>
                                                    </a>
                                                </li>
                                                <li aria-haspopup="true" class="">
                                                    <a href="/delivery_register/delivery_register" class="nav-link nav-toggle ">
                                                        Delivery Register
                                                        <span class="arrow"></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown">
                                            <a href="javascript:;"> Reporting
                                                <span class="arrow"></span>
                                            </a>
                                            <ul class="dropdown-menu pull-left">
                                                <li aria-haspopup="true" class="">
                                                    <a href="javascript:;" class="nav-link nav-toggle ">
                                                        Unbilled
                                                        <span class="arrow"></span>
                                                    </a>
                                                </li>
                                                <li aria-haspopup="true" class="dropdown-submenu classic-menu-dropdown">
                                                    <a href="javascript:;" class="">
                                                        Contract Register
                                                        <span class="arrow"></span>
                                                    </a>
                                                        <ul class="dropdown-menu pull-left">
                                                            <li><a href="javascript:;" class="nav-link nav-toggle ">Date wise</a></li>
                                                            <li><a href="javascript:;" class="nav-link nav-toggle ">Buyer wise</a></li>
                                                            <li><a href="javascript:;" class="nav-link nav-toggle ">Seller wise</a></li>
                                                            <li><a href="javascript:;" class="nav-link nav-toggle ">Buyer broker wise</a></li>
                                                            <li><a href="javascript:;" class="nav-link nav-toggle ">Seller broker wise</a></li>
                                                        </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown">
                                            <a href="javascript:;"> User Rights
                                                <span class="arrow"></span>
                                            </a>
                                            <ul class="dropdown-menu pull-left">
                                                <li aria-haspopup="true" class="">
                                                    <a href="/userright/userright" class="nav-link nav-toggle ">
                                                        User Right
                                                        <span class="arrow"></span>
                                                    </a>
                                                </li>
                                                <li aria-haspopup="true" class="">
                                                    <a href="/userright/admin_list" class="nav-link nav-toggle ">
                                                        User List
                                                        <span class="arrow"></span>
                                                    </a>
                                                </li>
                                                <li aria-haspopup="true" class="">
                                                    <a href="/security_right/security_right" class="nav-link nav-toggle ">
                                                        Security
                                                        <span class="arrow"></span>
                                                    </a>
                                                </li>
                                                <li aria-haspopup="true" class="">
                                                    <a href="/sauda_register/updatebal" class="nav-link nav-toggle ">
                                                        Recalculate
                                                        <span class="arrow"></span>
                                                    </a>
                                                </li>
                                                <li aria-haspopup="true" class="">
                                                    <a href="javascript:;" class="nav-link nav-toggle" data-toggle="modal" data-target="#shortcuts">
                                                        Help
                                                        <span class="arrow"></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <!-- END MEGA MENU -->
                            </div>
                        </div>
                        <!-- END HEADER MENU -->
                    </div>
                    <!-- END HEADER -->
                </div>
            </div>